{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

    <h1 class="history-title">History Of Prices</h1>
    <div class="container">

                {% for product_name, characteristics in context.items %}
                    <a href="https://catalog.onliner.by/{{ characteristics.2 }}/{{ characteristics.1 }}/{{ characteristics.0 }}"
                       target="_blank"><h2 class="product-title">{{ product_name }}</h2></a>
                        <ul class="list-items">
                            {% for history in characteristics.3 %}
                                        <br> <li class="item-info"><mark>{{ history.date }}</mark>: &nbsp;<b>{{ history.price }}</b></li>
                            {% endfor %}
                        </ul>
                {% endfor %}

    </div>

{% endblock %}